.vis-div {
    padding-top: 10px;
    background-color: white;    
    min-height: calc(100vh - 50px - 10px - 15vh);
}

.scatter-plot-menu-div {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.color-selector-div {
    position: absolute;
    top: calc(50px + 10px + 15vh + 10px);
    /* right: 10vw; */
    width: 100%;
}